/* Global Styles */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(11, 11, 11);
    background: linear-gradient(to right, #f37b6053, #efedeb);
}

.hero-content {
    max-width: 800px;

    h1 {
        font-size: 8rem;
        line-height: 0.4rem;
        word-wrap: break-word;
        margin-bottom: 7rem;
        border-spacing: 3rem;
    }

    p {
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

.quote-section {
    padding: 50px 20px;
    background: #000000;
    text-align: center;
}

.dark-theme {
    background-color: #333;
    color: #fff;

    .quote-section {
        background-color: #444;
    }
}